* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  min-height: 100vh;
  background: #B4A3D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #B4A3D9;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  animation: fadeIn 1s ease;
}

.sticker {
  width: 160px;
  margin-bottom: 15px;
}

h1 {
  font-size: 28px;
  color: #000;
  margin-bottom: 25px;
}

.buttons {
  position: relative;
  height: 60px;
}

button {
  border: none;
  padding: 10px 26px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#yesBtn {
  background: #dad9da;
  color: rgb(0, 0, 0);
  margin-right: 15px;
}

#yesBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(255, 143, 164, 0.868);
}

#noBtn {
  background: #dad9da;
  color: rgb(0, 0, 0);
  position: absolute;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
